body {
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0;
}

.navbar {
    background-color: rgb(241, 186, 138);
    padding: 17px;
    display: flex;
    justify-content: space-between;
}


.navbar nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.background-image {
    /* background-image: url('Pic.png'); 
    background-size: cover;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.container {
    background-color: rgb(241, 186, 138);
    padding: 17px;
    display: inline-block;
}

h1 {
    background-color: rgb(241, 186, 138);
    border: 3px solid rgb(129, 65, 244);
    padding: 17px;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 50px;

    display: inline-block;
    font-size: 16px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;

}

.add-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.add-item input[type="text"] {
    border: none;
    padding: 5px;
    margin-right: 10px;
}

.add-item button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
